<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js.js" defer></script>
  </head>
  <body>
    <h1>update <%=data.name%></h1>

    <!-- new user form -->
    <form action="/updateUser " method="post">
      <label for="name">Name</label>
      <input
        type="text"
        name="upname"
        placeholder="Name"
        value="<%=data.name%>"
      />
      <label for="email">Email</label>
      <input
        type="text"
        name="upemail"
        placeholder="Email"
        value="<%=data.email%>"
      />
      <label for="phone">Phone</label>
      <input
        type="text"
        name="upphone"
        placeholder="Phone"
        value="<%=data.phone%>"
      />
      <label for="password">Password</label>
      <input
        type="text"
        name="uppassword"
        placeholder="Password"
        value="<%=data.password%>"
      />
      <button type="submit" name="updateBtn" value="<%= data._id %> ">
        Update
      </button>
    </form>
  </body>
</html>
